@import 'global';

.oct-card {
  margin-bottom: 20px !important;

  .ant-card-body {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-btn {
      width: 100%;
      margin: 10px 0px 0px;
      @include transition(all ease-in-out 400ms);
    }
  }
}
