.product-container {
  padding: 40px;

  .product-preview {
    padding: 30px;
    margin-bottom: 40px;

    .product-images {
      height: 500px;
      position: relative;

      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .product-details {
      display: block;
    }
  }
  .product-review-container {
    width: 50%;
    margin: 40px auto;
  }
}
