// Colors
$white: #fff;
$silver: #CCC;
$pink: pink;
$red: red;
$yellow: yellow;
$orange: orange;
$cyan: cyan;
$green: green;
$blue: blue;
$purple: purple;
$magenta: magenta;
$gold: gold;
$lime: lime;

$whiteGradientBackground: rgba(255, 255, 255, .8);;

// Variables
$layoutBackground: $white;
$headerBackground: $whiteGradientBackground; // The Header background color/transparency
$headerBorderColor: $silver;
$productTextColor: $white;

// UI
$carouselColor1: #364d79;
$carouselColor2: #000000;

$facebookColor: #3B5998;
