@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800');
@import 'constants';

body {
  font-family: $fontFamily !important;
}

.loader {
  width: 100%;
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
}

@mixin transition ($value) {
  transition: $value;
  -webkit-transition: $value;
  -moz-transition: $value;
}
